:root {
  --color-gray-light: #f5f7fa;
  --color-gray-dark: #1e272e;
  --color-gray-nav: #171e24;
  --color-gray-darken: #232526;
  --color-gray-line: #d3dce9;
  --color-gray-nav-light-theme: #242f39;
  --color-red-light: #ff2f23;
  --color-red-dark: #e55039;
  --color-blue-light: #0fbcf9;
  --color-blue: #20b2aa;
  --color-second: #ffe4c4;
  --shadow-ligth: 0 1rem 1rem rgba(0, 0, 0, 0.4);
  --shadow-btn: 0 .5rem .5rem rgba(0, 0, 0, 0.3); }

@keyframes moveDownStop {
  0% {
    opacity: 0;
    transform: translateY(-30rem); }
  45% {
    opacity: 0; }
  55% {
    opacity: 0.3; }
  100% {
    opacity: 1;
    transform: translateY(0); } }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-color: #00B4DB transparent;
  scrollbar-width: thin; }

body {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  color: var(--color-gray-light);
  display: flex;
  justify-content: center; }

::-webkit-scrollbar {
  width: .3rem;
  background-color: var(--color-gray-dark); }

::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #0083B0, #00B4DB);
  border-radius: 2rem; }

::selection {
  background-color: var(--color-blue-light);
  color: #fff; }

.heading {
  display: block;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 300;
  letter-spacing: .2rem;
  color: inherit; }
  .heading__first {
    font-size: 3.5rem;
    padding: 1rem; }
  .heading__second {
    font-size: 3rem;
    padding: 1rem; }
  .heading__third {
    position: fixed;
    top: 9rem;
    right: 2rem;
    font-size: 4rem; }

.btn-fav {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  z-index: 1200;
  background-color: rgba(245, 247, 250, 0.98);
  display: none; }
  .btn-fav__checkbox {
    opacity: 0;
    width: .1rem;
    height: .1rem; }
  .btn-fav__btn--open {
    display: block; }
  .btn-fav__btn--close {
    display: none; }
  .btn-fav__icon {
    position: absolute;
    top: .55rem;
    right: .4rem;
    width: 2.7rem;
    height: 2.7rem;
    cursor: pointer; }
  .btn-fav__checkbox:checked ~ .btn-fav__btn--open {
    display: none; }
  .btn-fav__checkbox:checked ~ .btn-fav__btn--close {
    display: block; }

.btn-info {
  position: absolute;
  top: 5rem;
  right: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: rgba(245, 247, 250, 0.98);
  z-index: 1200;
  display: none; }
  .btn-info__checkbox {
    opacity: 0;
    width: .1rem;
    height: .1rem; }
  .btn-info__btn--open {
    display: block; }
  .btn-info__btn--close {
    display: none; }
  .btn-info__icon {
    position: absolute;
    top: .7rem;
    right: .6rem;
    width: 2.3rem;
    height: 2.3rem;
    cursor: pointer; }
  .btn-info__checkbox:checked ~ .btn-info__btn--open {
    display: none; }
  .btn-info__checkbox:checked ~ .btn-info__btn--close {
    display: block; }

.btn-uploaded__icon {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1200;
  width: 3rem;
  height: 3rem;
  border-radius: 50%; }

.btns, .btns:link, .btns:visited {
  font-family: inherit;
  font-weight: 400;
  text-decoration: none;
  transition: all .2s;
  cursor: pointer;
  border: none; }

.btns:focus {
  outline: none; }

.btns__nav {
  display: flex;
  align-items: center;
  background-color: inherit;
  color: var(--color-second);
  border-style: none;
  font-size: 2rem;
  text-align: start;
  padding: .4rem 2rem .4rem 1rem;
  border-radius: 1rem;
  margin: .2rem;
  border: 1px solid transparent; }
  .btns__nav:hover {
    border: 1px solid rgba(255, 228, 196, 0.3); }
  .btns__nav:active {
    box-shadow: inset 0.2rem 0 0.5rem rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 228, 196, 0); }
  .btns__nav-icon {
    width: 1.8rem;
    height: 1.8rem;
    fill: var(--color-second);
    margin-right: 1rem; }
  .btns__nav--upload {
    background: #00B4DB;
    background: linear-gradient(to right, #0083B0, #00B4DB);
    border: none;
    box-shadow: var(--shadow-btn); }
    .btns__nav--upload:hover {
      transform: translateY(-0.1rem);
      box-shadow: var(--shadow-btn);
      border: none; }
    .btns__nav--upload:active {
      transform: translateY(0);
      box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2); }

.btns__search {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  background-color: inherit;
  border-style: none;
  margin-top: .2rem; }
  .btns__search:hover {
    fill: red; }
  .btns__search-icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--color-second); }
    .btns__search-icon:hover {
      fill: var(--color-blue-light); }

.column-switching-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 7rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 3000; }
  .column-switching-btns__icon {
    width: 3rem;
    height: 3rem;
    fill: var(--color-gray-light);
    cursor: pointer; }

.hero-box__item {
  height: 20rem;
  width: 100%;
  flex: 1;
  -moz-perspective: 150rem;
  perspective: 150rem;
  position: relative; }
  .hero-box__item-side {
    height: 20rem;
    width: 100%;
    flex: 1;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: var(--shadow-btn);
    transition: all .8s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden; }
    .hero-box__item-side-front {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0.1));
      flex: 1; }
      .hero-box__item-side-front__heading {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .hero-box__item-side-front__heading-icon {
          fill: var(--color-pink-light);
          width: 3rem;
          height: 3rem;
          margin-right: 1rem; }
        .hero-box__item-side-front__heading > h3:first-child {
          margin-right: auto; }
      .hero-box__item-side-front__img {
        margin: 4rem auto;
        width: 40%; }
        .hero-box__item-side-front__img--fresh {
          opacity: .95; }
        .hero-box__item-side-front__img--cake {
          width: 100%; }
      .hero-box__item-side-front__text ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        list-style: none;
        width: 70%;
        margin: 0 auto; }
      .hero-box__item-side-front__text li {
        margin-bottom: 1rem;
        padding-bottom: 1rem; }
        .hero-box__item-side-front__text li:not(:last-child) {
          border-bottom: 0.1rem solid var(--color-pink-light-transparent); }
        .hero-box__item-side-front__text li span {
          font-weight: 400;
          font-size: 2rem;
          padding-left: 1rem; }
    .hero-box__item-side-back {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      color: #fff;
      font-weight: 300;
      background-image: linear-gradient(135deg, var(--color-pink-light), var(--color-pink-darken));
      transform: rotateY(180deg); }
  .hero-box__item:hover .hero-box__item-side-front {
    transform: rotateY(-180deg); }
  .hero-box__item:hover .hero-box__item-side-back {
    transform: rotateY(0); }

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -.5rem; }
  .logo__icon {
    height: 6rem; }

.nav {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  gap: 1rem;
  align-self: center;
  height: 5rem;
  flex: 0 1;
  margin-right: 3rem; }
  .nav__icon {
    width: 1.8rem;
    height: 1.8rem;
    fill: var(--color-btns);
    margin-right: 1rem; }

.file-upload {
  display: none; }

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1 0;
  margin: auto 3rem; }
  .search-bar__input {
    width: 100%;
    height: 5rem;
    border: 0.5px solid rgba(255, 228, 196, 0.1);
    border-radius: 2rem;
    background-color: transparent;
    font-size: 2.3rem;
    font-family: inherit;
    letter-spacing: .1rem;
    font-weight: 300;
    color: var(--color-second);
    padding: 0 2rem;
    cursor: pointer; }
    .search-bar__input:focus {
      outline: none;
      border: 0.5px solid rgba(255, 228, 196, 0.5); }

.switching-bgr {
  display: flex;
  align-items: center;
  justify-content: center; }
  .switching-bgr__checkbox {
    display: none; }
  .switching-bgr__btn--open {
    display: block; }
  .switching-bgr__btn--close {
    display: none; }
  .switching-bgr__icon {
    width: 3.5rem;
    height: 3.5rem;
    fill: #fff;
    cursor: pointer;
    margin-top: .2rem; }
    .switching-bgr__icon--white {
      fill: var(--color-gray-light); }
    .switching-bgr__icon--black {
      fill: var(--color-gray-light); }
  .switching-bgr__checkbox:checked ~ .switching-bgr__btn--open {
    display: none; }
  .switching-bgr__checkbox:checked ~ .switching-bgr__btn--close {
    display: block; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: var(--color-gray-dark);
  color: var(--color-gray-light); }
  .container__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 8rem;
    padding: 0 3rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: rgba(23, 30, 36, 0.98);
    box-shadow: var(--shadow-btn);
    border-radius: 0 0 0 5rem; }
  .container__hero {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    margin: 12rem auto 5rem auto;
    width: 80vw; }

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  width: 90vw;
  font-family: inherit;
  font-weight: 300;
  letter-spacing: .1rem;
  font-size: 2rem;
  color: inherit;
  margin-top: 7rem;
  border-top: 0.5px solid var(--color-gray-nav); }

.hero-box {
  max-width: 80vw;
  column-count: 4;
  column-gap: 1rem;
  padding: 2rem;
  border: 0.5px solid var(--color-gray-nav);
  border-radius: 2rem;
  min-height: 100vh;
  backface-visibility: hidden;
  box-shadow: 0 0.1rem 1rem 0 rgba(0, 0, 0, 0.4); }
  .hero-box__item {
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    display: inline-block;
    margin: .5rem;
    width: 100%;
    height: auto;
    backface-visibility: hidden; }
    .hero-box__item:hover > .btn-info,
    .hero-box__item:hover > .btn-fav,
    .hero-box__item:hover > .btn-uploaded {
      display: block; }
  .hero-box__img {
    width: 100%;
    height: auto; }
  .hero-box__meta {
    display: block;
    font-family: inherit;
    font-weight: 400;
    letter-spacing: .1rem;
    color: inherit;
    font-size: 1.3rem;
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem;
    height: auto;
    width: 70%;
    backface-visibility: hidden;
    background-color: rgba(245, 247, 250, 0.95);
    color: var(--color-gray-darken);
    position: absolute;
    right: 5rem;
    top: 0; }

.trending-box {
  width: auto;
  height: 25vh;
  background-color: red; }
  .trending-box__header {
    font-family: inherit;
    font-weight: 300;
    font-size: 2.5rem;
    letter-spacing: .1rem;
    margin-bottom: 1rem; }
  .trending-box__list {
    display: grid;
    grid-template-columns: repeat(10, minmax(10rem, 1fr));
    grid-template-rows: auto;
    gap: 3rem;
    padding: 1rem;
    margin-bottom: 10rem;
    overflow-x: scroll;
    overflow-y: hidden; }
  .trending-box__img {
    width: auto;
    max-height: 100%; }
