// css - variables
:root {

    --color-gray-light: #f5f7fa;
    --color-gray-dark: #1e272e;
    --color-gray-nav: #171e24;
    --color-gray-darken: #232526;

    --color-gray-line: #d3dce9;
    --color-gray-nav-light-theme: #242f39;

    --color-red-light: #ff2f23;
    --color-red-dark: #e55039;

    --color-blue-light: #0fbcf9;
    --color-blue: #20b2aa;

    --color-second: #ffe4c4;

    --shadow-ligth: 0 1rem 1rem rgba(0, 0, 0, 0.4);
    --shadow-btn: 0 .5rem .5rem rgba(0, 0, 0, 0.3);

}