.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: var(--color-gray-dark);
    color: var(--color-gray-light);

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: 8rem;
        padding: 0 3rem;

        position: fixed;
        top: 0;
        left: 0;
        z-index: 2000;
        background-color: rgba(#171e24, .98);
        box-shadow: var(--shadow-btn);
        border-radius: 0 0 0 5rem;
    }
    &__hero {
        display: flex;
        flex-direction: column;
        background-color: transparent;
        margin: 12rem auto 5rem auto;
        width: 80vw;
    }


    
}



