.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  width: 90vw;

  font-family: inherit;
  font-weight: 300;
  letter-spacing: .1rem;
  font-size: 2rem;
  color: inherit;
  margin-top: 7rem;
  border-top: .5px solid var(--color-gray-nav);

}