.hero-box {
    max-width: 80vw;

    column-count: 4;
    column-gap: 1rem;

    padding: 2rem;
    border: .5px solid var(--color-gray-nav);
    border-radius: 2rem;
    min-height: 100vh;
    backface-visibility: hidden;

    box-shadow: 0 .1rem 1rem 0 rgba(0,0,0,0.4);

    &__item {
        position: relative;
        border-radius: 2rem;
        overflow: hidden;

        display: inline-block;
        margin: .5rem;
        width: 100%;
        height: auto;

        backface-visibility: hidden;

        &:hover > .btn-info,
        &:hover > .btn-fav,
        &:hover > .btn-uploaded {
            display: block;
        }
    }
    &__img {
        width: 100%;
        height: auto;
    }
    &__meta {
        display: block;
        font-family: inherit;
        font-weight: 400;
        letter-spacing: .1rem;
        color: inherit;
        font-size: 1.3rem;
        border-radius: 2rem;
        padding: 1rem;
        margin: 1rem;
        height: auto;
        width: 70%;
        backface-visibility: hidden;

        background-color: rgba(#f5f7fa, .95);
        color: var(--color-gray-darken);

        position: absolute;
        right: 5rem;
        top: 0;

    }
    &__icons {

    }
}
