.trending-box {
  width: auto;
  height: 25vh;
  background-color: red;


  // display: none;

  &__header {
    font-family: inherit;
    font-weight: 300;
    font-size: 2.5rem;
    letter-spacing: .1rem;
    margin-bottom: 1rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(10, minmax(10rem, 1fr));
    grid-template-rows: auto;
    gap: 3rem;
    padding: 1rem;
  
    margin-bottom: 10rem;
    overflow-x: scroll;
    overflow-y: hidden;
      
  }
  &__img {
      width: auto;
      max-height: 100%;
  }
}