.btns {
  &,
  &:link,
  &:visited {

    font-family: inherit;
    font-weight: 400;
    text-decoration: none; 
    transition: all .2s;
    cursor: pointer;
    border: none;

  }
  &:focus {
    outline: none;
  }

  &__nav {
    display: flex;
    align-items: center;
  
    background-color: inherit;
    color: var(--color-second);
    border-style: none;

    font-size: 2rem;
    text-align: start;
    padding: .4rem 2rem .4rem 1rem;
    border-radius: 1rem;
    margin: .2rem;    
    border: 1px solid transparent;
  
    &:hover {
      border: 1px solid rgba(#ffe4c4, .3);
    }
  
    &:active {
      box-shadow: inset 0.2rem 0 .5rem rgba(0, 0, 0, 0.5);
      border: 1px solid rgba(#ffe4c4, 0);
    }

    &-icon {
      width: 1.8rem;
      height: 1.8rem;
      fill: var(--color-second);
      margin-right: 1rem;
    }

  

    &--upload {
      background: #00B4DB;  
      background: linear-gradient(to right, #0083B0, #00B4DB);
      border: none;
      box-shadow: var(--shadow-btn);

      &:hover {
        transform: translateY(-.1rem);
        box-shadow: var(--shadow-btn);
        border: none;
      }
      &:active {
        transform: translateY(0);
        box-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.2);
      }
    }
  }
  &__search {
    position: absolute;
    top: 50%; 
    right: 0;
    transform: translate(-50%, -50%);
  
    background-color: inherit;
    border-style: none;

    margin-top: .2rem;
    &:hover {
      fill: red;
    }

    &-icon {
      width: 2.5rem;
      height: 2.5rem;
      fill: var(--color-second);

      &:hover {
        fill: var(--color-blue-light);
      }
    }
  }

}




