.btn-fav {
  position: absolute;
  top: 1rem;
  right: 1rem;

  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;

  z-index: 1200;

  background-color: rgba(#f5f7fa, .98);

  display: none;

  &__checkbox {
    // display: none;
    opacity: 0;
    width: .1rem;
    height: .1rem;
  }
  &__btn--open {
    display: block;  
  }
  &__btn--close {
    display: none;
  }
  &__icon {
    position: absolute;
    top: .55rem;
    right: .4rem;

    width: 2.7rem;
    height: 2.7rem;
    cursor: pointer;


  }
  &__checkbox:checked ~ &__btn--open {
    display: none;
  }
  &__checkbox:checked ~ &__btn--close {
    display: block;
  }
}