.btn-info {
    position: absolute;
    top: 5rem;
    right: 1rem;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: rgba(#f5f7fa, .98);
    z-index: 1200;
    display: none;
  &__checkbox {
    opacity: 0;
    width: .1rem;
    height: .1rem;
  }
  &__btn--open {
    display: block;
  }
  &__btn--close {
    display: none;
  }
  &__icon {
    position: absolute;
    top: .7rem;
    right: .6rem;

    width: 2.3rem;
    height: 2.3rem;
    cursor: pointer;
  }
  &__checkbox:checked ~ &__btn--open {
    display: none;
  }
  &__checkbox:checked ~ &__btn--close {
    display: block;
  }
}
