.column-switching-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 7rem;


  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 3000;

  &__btn {

  }
  &__icon {
    width: 3rem;
    height: 3rem;
    fill: var(--color-gray-light);
    cursor: pointer;
  }
}