.hero-box__item {
  height: 20rem;
  width: 100%;
  flex: 1;
  //
  -moz-perspective: 150rem;
  perspective: 150rem;
  //
  position: relative;

  // &--first,
  // &--sec {
  //     margin-right: 5rem;
  // }


  &-side {
      height: 20rem;
      width: 100%;
      flex: 1;
      //
      padding: 2rem;
      border-radius: 2rem;
      box-shadow: var(--shadow-btn);
      transition: all .8s ease-in-out;
      //
      position: absolute;
      top: 0;
      left: 0;
      backface-visibility: hidden;

      &-front {

          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 50%, rgba(#000, 0.1));
          flex: 1;

          &__heading {
              display: flex;
              justify-content: space-between;
              align-items: center;
              
              &-icon {
                  fill:  var(--color-pink-light);
                  width: 3rem;
                  height: 3rem;
                  margin-right: 1rem;
              }
              & > h3:first-child {
                  margin-right: auto;
              }
          }
          &__img {
              margin: 4rem auto; 
              width: 40%;

              &--jam {
                  
              }
              &--fresh {
                  opacity: .95;
              }
              &--cake {
                  width: 100%;
              }
          }
          &__text {
              ul {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  text-align: center;
      
                  list-style: none;
                  width: 70%;
                  margin: 0 auto;

              }
              li {
                  margin-bottom: 1rem;
                  padding-bottom: 1rem;

                  &:not(:last-child) {
                      border-bottom: .1rem solid var(--color-pink-light-transparent);
                  }
                  span {
                      font-weight: 400;
                      font-size: 2rem;
                      padding-left: 1rem;
                  }
              }        
          }
      }
      &-back {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          color: #fff;
          font-weight: 300;
          background-image: linear-gradient(135deg, var(--color-pink-light), var(--color-pink-darken));
          transform: rotateY(180deg);  
      }
  }
  &:hover &-side-front {
      transform: rotateY(-180deg);

  }
  &:hover &-side-back {
      transform: rotateY(0);
  }
}