.nav {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  gap: 1rem;
  align-self: center;
  height: 5rem;
  flex: 0 1;
  margin-right: 3rem;

  &__icon {
    width: 1.8rem;
    height: 1.8rem;
    fill: var(--color-btns);
    margin-right: 1rem;
  }

}
.file-upload {
  display: none;
}