.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1 0;
  margin: auto 3rem;

  &__input {
    width: 100%;
    height: 5rem;

    border: .5px solid rgba(#ffe4c4, .1);
    border-radius: 2rem;

    background-color: transparent;

    font-size: 2.3rem;
    font-family: inherit;
    letter-spacing: .1rem;
    font-weight: 300;
    color: var(--color-second);
    padding: 0 2rem;
    cursor: pointer;

    &:focus{
      outline: none;
      border: .5px solid rgba(#ffe4c4, .5);
    }
  }
}