.switching-bgr {
    display: flex;
    align-items: center;
    justify-content: center;

    &__checkbox {
        display: none;
    }
    &__btn--open {
        display: block;  
    }
    &__btn--close {
        display: none;
    }
    &__icon {
        width: 3.5rem;
        height: 3.5rem;
        fill: #fff;
        cursor: pointer;
        margin-top: .2rem;

        &--white {
            fill: var(--color-gray-light);
        }
        &--black {
            fill: var(--color-gray-light);
        }
    }
    &__checkbox:checked ~ &__btn--open {
        display: none;
    }
    &__checkbox:checked ~ &__btn--close {
        display: block;
    }
}