* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px  10px/16px = 62.5%
    box-sizing: border-box;
    scroll-behavior: smooth;

    //scrollbar for Firefox
    scrollbar-color: #00B4DB transparent;
    scrollbar-width: thin;
}
body {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    color: var(--color-gray-light);
    display: flex;
    justify-content: center;
}
::-webkit-scrollbar {
    width: .3rem;
    background-color: var(--color-gray-dark);
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #0083B0, #00B4DB);
    border-radius: 2rem;
}
::selection {
    background-color: var(--color-blue-light);
    color: #fff;
}