.heading {
    display: block;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 300;
    letter-spacing: .2rem;
    color: inherit;
    
    &__first {
        font-size: 3.5rem;
        padding: 1rem;
    }
    &__second {
        font-size: 3rem;
        padding: 1rem;
    }
    &__third {
        position: fixed;
        top: 9rem;
        right: 2rem;
        font-size: 4rem;

    }
}